{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" id=profile>
    <div class=form_label>
      <label for="username">Username</label>
    </div>
    <div class=form_field>
      <input name="username" id="username" value="{{ request.form['username'] or user['username'] }}" required>
    </div>
    <div class=form_label>
      <label for="profile">Profile</label>
    </div>
    <textarea name="profile" id="profile">{{ request.form['profile'] or user['profile'] }}</textarea>
    <label for="bgcolor">Choose a banner background color: </label>
    <div class=form_select>
      <select id="bgcolor" name=bgcolor form=profile>
        <option value={{ request.form['bgcolor'] or user['bgcolor'] }}>{{ request.form['bgcolor'] or user['bgcolor'] }}
        </option>
        {% for lbgcolor in lbgcolors %}
        {% if lbgcolor != user['bgcolor'] %}
        <option value="{{lbgcolor}}">{{lbgcolor}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class=form_button></div>
    <input type="submit" value="Save">
    </div>
  </form>
{% endblock %}

