
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" id=register>
    <div class=form_label>
      <label for="username">Username</label>
    </div>
    <div class=form_field>
      <input class=form_field name="username" id="username" required>
    </div>
    <div class=form_label>
      <label for="profile">Profile Description</label>
    </div>
    <div class=form_field>
      <input class=form_field name="profile" id="profile" required>
    </div>
    <div class=form_label>
      <label for="password">Password</label>
    </div>
    <div class=form_field>
      <input class=form_field type="password" name="password" id="password" required>
    </div>
    <div class=form_select>
      <label for="bgcolor">Choose a banner background color: </label>
      <select id="bgcolor" name=bgcolor form=register>
        <option value="lightgray">Lightgray</option>
        <option value="yellow">Yellow</option>
        <option value="purple">Purple</option>
      </select>
    </div>
    <div class=form_button>
      <input type="submit" value="Register">
    </div>
  </form>
{% endblock %}